*{
    overflow: visible;
}

body{
    background-image: url(images/background2.jpg);
    height: auto;
    padding-bottom: 50px;
}

header{
    margin-bottom: 50px;
}

h2{
    font-family: "Original Surfer", sans-serif;
    font-size: 60px;
    margin-bottom: 10px;
}

h3{
    font-family: "Original Surfer", sans-serif;
    font-size: 40px;
    margin-bottom: 10px;
}

p{
    color: black;
    font-size: 20px;
}

#Wind, #Waves {
    width: 100%; 
    height: 300px; 
    margin-bottom: 20px; 
}


.container {
    display: flex; 
    justify-content: center; 
    text-align: center; 
}

.chart-container {
    margin: 0 20%; 
    width: 60%; 
}

.graphes{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.contenaire-danger {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-direction: column;
    margin: 50px auto 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.box-danger{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
}

.danger {
    width: 120px;
    height: 120px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color:white;
    margin-right: 10%;

}

.green {
    background-color: green;
}

.greenyellow {
    background-color: greenyellow;
}

.orange {
    background-color: orange;
}

.red {
    background-color: red;
}

.black {
    background-color: black;
}

#aileronBoxContainer {
    color: black;
}

.box{
    width: 120px;
    height: 120px;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: black;
}



.original-surfer-regular {
    font-family: "Original Surfer", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  




h1{
    padding-top: 10px;
    justify-self: center;
    text-transform: uppercase;
    color: aliceblue;
    font-size: 50px;

}

.analyses{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}

.analyses div{
    background-color: white;

}


table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
}
th, td {
    padding: 8px;
    text-align: center;
}
td img{
    height: 1vw
}