* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}



body {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-image: url(images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    font-family: Arial, sans-serif;
}

header {
    padding: 0 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    height: 10%;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-family: "Original Surfer", sans-serif;
    font-size: 120px;
    color: antiquewhite;
}

.log {
    width: 20%;
}

.log button {
    background-color: transparent;
    padding: 4px 5px;
    border-radius: 7px;
    font-size: 20px;
    border: antiquewhite 3px solid;
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.5);
    margin-left: 10px;
}

.log button:hover {
    transition: 200ms;
    border: black 3px solid;
    color: black;
    background-color: rgba(250, 235, 215, 0.5);
}

img {
    height: 60px;
}

.mainContainer {
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    flex-direction: column;
    padding-bottom: auto;
    padding-top: 5%;
}

.mainContainer>* {
    margin-bottom: 2vh;
}



.brand{
    height: 20vh;
}

p {
    font-family: "Original Surfer", sans-serif;
    color: antiquewhite;
    font-size: 40px;
    margin: 10px;
}

.trophee {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.trophee>img {
    height: 5vw;
}

.search-container {
    position: relative;
}

.search-wrapper {
    width: 600px;
}

.search-wrapper:hover .search {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 5px;
    overflow: hidden;
}

.search-input {
    display: flex;
    align-items: center;
}

.search input {
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    color: rgb(55, 55, 55);
    border-radius: 20px;
    background: transparent; /* Définir le fond de l'input sur transparent */
}

.search button {
    border: 0;
    background: transparent;
    cursor: pointer;
    padding-right: 5px;
}

.search button img {
    width: 25px;
    height: 25px;
}

.suggestions {
    background: #ffffff00; /* Fond flou */
    border: 0px;
    border-top: 0;
    width: calc(100% - 12px);
    max-height: 200px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px ;

}

.suggestions li:hover {
    background: #f0f0f0;
}





.mainmenubtn {
    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    padding:15px;
    margin-top:20px;
    width: 80%;
    text-align: center;
    border-radius: 4px;
    border: 2px solid black;
    font-size: 15px;
}
.mainmenubtn:hover {
    background-color: rgb(168, 168, 168);
    }
.dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
    width: 15vw;
    justify-content: center;
   
}
.dropdown-child {
    width: 8vw;
    display: none;
    min-width: 120px;
    position: fixed;
}
.dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
    width: 100%;
    background-color: lightgray;
    height: 50%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.455);
}

.dropdown-child a :hover{
    background-color: rgb(168, 168, 168);
}
.dropdown:hover .dropdown-child {
    display: block;
}
.hl{
    text-transform: capitalize;
}

.nom-de-ville{
    text-decoration: none;
}